@use 'colors' as *;



.section {
    background: $black-bg-900;
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 2rem;

    .container {
        max-width: 1100px;
        width: 100%;
        margin: auto;

    }
}

.home {
    min-height: 100vh;
    color: $black-text-900;

    .row {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }

    .home-info {

        h2.hello {
            margin: 1rem 0;

            span {
                font-family: 'Clicker Script', cursive;
                font-size: 2rem;
                font-weight: 700;
                color: $skin-color;
            }
        }

        h3.my-profession {
            margin: 1rem 0;

            .typing {
                color: $skin-color;
            }
        }

        p {
            margin-bottom: 4.375rem;
            font-size: 20px;
            color: $text-black-700;
        }
    }

    .home-img {
        grid-row: 1;
        padding-top: 15rem;
    }



    img {
        margin: auto;
        border-radius: 5px;
    }
}


@media screen and (min-width: 700px) {
    .home {

        margin-top: 10rem;
    }

    .home {

        .row {
            display: block;

            .home-img {
                position: relative;
                padding-top: 3rem;

                &::before {
                    content: '';
                    position: absolute;
                    height: 5rem;
                    width: 5rem;
                    left: -20px;
                    top: 0;
                    border-top: 10px solid $skin-color;
                    border-left: 10px solid $skin-color;
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 5rem;
                    width: 5rem;
                    right: -20px;
                    bottom: -40px;
                    border-bottom: 10px solid $skin-color;
                    border-right: 10px solid $skin-color;
                }
            }
        }

    }
}

@media screen and (min-width: 1010px) {

    .section {
        background: $black-bg-900;
        display: block;
        opacity: 1;
        padding: 0 2rem;

        .container {
            max-width: 1100px;
            width: 100%;
            margin: auto;

            .row {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                position: relative;
                gap: 1rem;
            }
        }
    }

    .home {
        .home-info {
            flex: 0 0 calc(60% - 1rem);
        }

        .home-img {
            flex: 0 0 calc(40% - 1rem);


            &::before {
                content: '';
                position: absolute;
                height: 5rem;
                width: 5rem;
                left: -20px;
                top: 0;
                border-top: 10px solid $skin-color;
                border-left: 10px solid $skin-color;
            }

            &::after {
                content: '';
                position: absolute;
                height: 5rem;
                width: 5rem;
                right: -20px;
                bottom: -40px;
                border-bottom: 10px solid $skin-color;
                border-right: 10px solid $skin-color;
            }

            img {
                margin: auto;
                border-radius: 5px;
            }
        }
    }
}